In [1]:
import pandas as pd
import numpy as np
import datetime
import altair as alt

In [48]:
df = pd.read_csv('bike.csv')
df.datetime = pd.to_datetime(df.datetime)
df['month'] = df.datetime.dt.month
df['year'] = df.datetime.dt.year
df['first_day_of_month'] = df.datetime.apply(lambda date : datetime.date(date.year, date.month, 1))

In [49]:
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month,year,first_day_of_month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16.0,1,2011,2011-01-01
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8.0,32.0,40.0,1,2011,2011-01-01
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5.0,27.0,32.0,1,2011,2011-01-01
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3.0,10.0,13.0,1,2011,2011-01-01
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0.0,1.0,1.0,1,2011,2011-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN,12,2012,2012-12-01
17375,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN,12,2012,2012-12-01
17376,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,NaN,NaN,NaN,12,2012,2012-12-01
17377,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,NaN,NaN,NaN,12,2012,2012-12-01
17378,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,NaN,NaN,NaN,12,2012,2012-12-01

In [55]:
df[(df.month==1) & (df.year==2011)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month,year,first_day_of_month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16.0,1,2011,2011-01-01
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8.0,32.0,40.0,1,2011,2011-01-01
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5.0,27.0,32.0,1,2011,2011-01-01
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3.0,10.0,13.0,1,2011,2011-01-01
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0.0,1.0,1.0,1,2011,2011-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11138,2011-01-31 19:00:00,1,0,1,1,12.30,15.910,61,7.0015,NaN,NaN,NaN,1,2011,2011-01-01
11139,2011-01-31 20:00:00,1,0,1,3,6.56,8.335,59,11.0014,NaN,NaN,NaN,1,2011,2011-01-01
11140,2011-01-31 21:00:00,1,0,1,3,6.56,9.850,59,6.0032,NaN,NaN,NaN,1,2011,2011-01-01
11141,2011-01-31 22:00:00,1,0,1,2,6.56,9.090,59,7.0015,NaN,NaN,NaN,1,2011,2011-01-01
11142,2011-01-31 23:00:00,1,0,1,2,6.56,9.850,64,6.0032,NaN,NaN,NaN,1,2011,2011-01-01

In [4]:
df__ = (pd.DataFrame(df.groupby(['first_day_of_month'])
        .agg({'casual':'mean','registered':'mean'})
        .astype('int').stack())
        .reset_index()
        .rename(columns={'level_0':'month','level_1':'client_type',0:'number'})
        )
df__.first_day_of_month = pd.to_datetime(df__.first_day_of_month)

In [5]:
df.temp.min()

0.82

In [23]:
df.weather.value_counts()

1    7192
2    2834
3     859
4       1
Name: weather, dtype: int64

In [25]:
df[df.month==1].weather.mode().iloc[0]

1

In [6]:
area = alt.Chart(df__).mark_area(opacity=0.3).encode(
            x=alt.X('first_day_of_month:T',title='Month'),
            y=alt.Y("number:Q", title='Number of bikes rent', stack=None),
            color="client_type:N"
        ).properties(
                
                width=1000,
                height=300,
            )

area

alt.Chart(...)

In [7]:
df__ = (pd.DataFrame(df[df.year==2012].groupby(['first_day_of_month'])
        .agg({'casual':'mean','registered':'mean'})
        .astype('int').stack())
        .reset_index()
        .rename(columns={'level_0':'month','level_1':'client_type',0:'number'})
        )
df__.first_day_of_month = pd.to_datetime(df__.first_day_of_month)

area = alt.Chart(df__).mark_area(opacity=0.3).encode(
            x=alt.X('month(first_day_of_month):T',title='Month'),
            y=alt.Y("number:Q", title='Number of bikes rent', stack=None),
            color="client_type:N"
        )

area

alt.Chart(...)

In [8]:
area = alt.Chart(df__).mark_area(opacity=0.3).encode(
            x=alt.X('month(first_day_of_month):T',title='Month'),
            y=alt.Y("number:Q", title='Number of bikes rent', stack=None),
            color="client_type:N"
        )

area

alt.Chart(...)

In [9]:
xrule = alt.Chart().mark_rule(color="red", strokeWidth=2).encode(x=alt.datum(alt.DateTime( month="March")))

In [10]:
area + xrule

alt.LayerChart(...)

In [11]:
list_months = ['January','February','March','April','May','June','July','August','September','October','November','December']

In [12]:
dico_indx_month = {i:m for i,m in zip(list(range(1,13)),list_months)}
dico_month_indx = {m:i for i,m in zip(list(range(1,13)),list_months)}

In [68]:
alt.Chart(df_2).mark_line(point = False).encode(
    x = alt.X("hour:O", title="Nour of day"),
    y= alt.Y("number:Q",title="Number of bikes rent"),
    color=alt.Color("client_type:N",title='Client Type')
).properties(
    title="Number of bikes rent hourly in "+dico_indx_month[month],
    width=600,
    height=150,
)

alt.Chart(...)

In [31]:
df.temp.quantile(0.25)

13.94

In [28]:
def filter_dataset(month = None,
                   year = None,
                   holiday = None,
                   weekend = None,
                   weather = None,
                   temperature = None,
                   humidity = None,
                   windspeed = None):
    df_result = df.copy()
    if month is not None :
        df_result = df_result[df_result.month == month]
    if year is not None :
        df_result = df_result[df_result.year == year]    
    if holiday is not None :
        df_result = df_result[df_result.holiday == holiday]
    if weekend is not None :
        df_result = df_result[df_result.workingday != weekend]
    if weather is not None :
        df_result = df_result[df_result.weather == weather]    
    if temperature is not None :
        df_result = df_result[(df_result.temp < temperature + 0.5) & (df_result.temp > temperature - 0.5) ] 
    if humidity is not None :
        df_result = df_result[(df_result.humidity < humidity + 0.5) & (df_result.humidity > humidity - 0.5) ] 
    if windspeed is not None :
        df_result = df_result[(df_result.windspeed < windspeed + 0.5) & (df_result.windspeed > windspeed - 0.5) ] 
    return df_result

In [69]:
df[(df.month==5)&(df.year==2011)].describe().loc['25%']

season           2.0000
holiday          0.0000
workingday       0.0000
weather          1.0000
temp            19.6800
atemp           23.4850
humidity        58.7500
windspeed        7.0015
casual           8.0000
registered      39.0000
count           50.0000
month            5.0000
year          2011.0000
Name: 25%, dtype: float64

In [46]:
df_filtered = filter_dataset(month = 4,
                   year = 2011,
                   holiday = None,
                   weekend = None,
                   weather = None,
                   temperature = None,
                   humidity = None,
                   windspeed = None)
df_filtered

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month,year,first_day_of_month
1323,2011-04-01 00:00:00,2,0,1,3,10.66,12.880,100,11.0014,0,6,6,4,2011,2011-04-01
1324,2011-04-01 01:00:00,2,0,1,3,10.66,12.880,100,11.0014,0,4,4,4,2011,2011-04-01
1325,2011-04-01 02:00:00,2,0,1,3,10.66,12.880,93,12.9980,0,7,7,4,2011,2011-04-01
1326,2011-04-01 03:00:00,2,0,1,2,9.84,11.365,93,16.9979,0,4,4,4,2011,2011-04-01
1327,2011-04-01 04:00:00,2,0,1,2,9.84,11.365,93,16.9979,0,3,3,4,2011,2011-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1773,2011-04-19 19:00:00,2,0,1,2,20.50,24.240,72,12.9980,28,248,276,4,2011,2011-04-01
1774,2011-04-19 20:00:00,2,0,1,2,20.50,24.240,72,15.0013,20,148,168,4,2011,2011-04-01
1775,2011-04-19 21:00:00,2,0,1,2,20.50,24.240,72,8.9981,8,114,122,4,2011,2011-04-01
1776,2011-04-19 22:00:00,2,0,1,1,19.68,23.485,77,6.0032,3,109,112,4,2011,2011-04-01
1777,2011-04-19 23:00:00,2,0,1,1,18.86,22.725,88,6.0032,11,41,52,4,2011,2011-04-01

In [45]:
df_filtered.temp.describe()

count    76.000000
mean     16.583421
std       3.346561
min       9.840000
25%      13.940000
50%      16.810000
75%      18.860000
max      25.420000
Name: temp, dtype: float64

In [46]:
def df_month(month):
    return pd.DataFrame(df[df.month==month].groupby('hour').agg({'casual':'mean','registered':'mean'}).stack()).reset_index().rename(columns={'level_1':'client_type',0:'number'})

In [49]:
df_2 = df_month(2)
df_2

    hour client_type      number
0      0      casual    2.973684
1      0  registered   25.868421
2      1      casual    1.763158
3      1  registered   15.131579
4      2      casual    1.513514
5      2  registered   10.945946
6      3      casual    0.852941
7      3  registered    4.970588
8      4      casual    0.242424
9      4  registered    2.393939
10     5      casual    0.189189
11     5  registered    9.162162
12     6      casual    1.078947
13     6  registered   40.000000
14     7      casual    3.157895
15     7  registered  121.552632
16     8      casual    6.526316
17     8  registered  252.578947
18     9      casual    8.368421
19     9  registered  149.026316
20    10      casual   12.105263
21    10  registered   82.736842
22    11      casual   17.552632
23    11  registered   93.105263
24    12      casual   21.210526
25    12  registered  119.789474
26    13      casual   24.026316
27    13  registered  122.578947
28    14      casual   26.078947
29    14  registered  108.000000
30    15      casual   29.473684
31    15  registered  115.763158
32    16      casual   25.394737
33    16  registered  147.605263
34    17      casual   20.289474
35    17  registered  249.052632
36    18      casual   11.500000
37    18  registered  227.078947
38    19      casual    8.552632
39    19  registered  155.368421
40    20      casual    6.500000
41    20  registered  112.447368
42    21      casual    6.263158
43    21  registered   87.052632
44    22      casual    5.131579
45    22  registered   70.421053
46    23      casual    4.078947
47    23  registered   42.315789

In [38]:
df_2 = df[df.month==3].groupby('hour').agg({'casual':'mean','registered':'mean'}).reset_index().rename(columns={'index':'hour'})
df_2

    hour     casual  registered
0      0   5.289474   27.578947
1      1   4.000000   18.815789
2      2   3.352941   10.882353
3      3   1.388889    6.916667
4      4   1.117647    3.000000
5      5   0.837838   11.621622
6      6   1.947368   49.473684
7      7   8.184211  144.368421
8      8  15.684211  284.315789
9      9  19.447368  167.000000
10    10  31.078947  100.026316
11    11  43.526316  116.842105
12    12  53.368421  149.578947
13    13  58.263158  151.026316
14    14  68.052632  133.526316
15    15  68.842105  138.605263
16    16  67.078947  179.526316
17    17  67.736842  302.657895
18    18  50.473684  295.710526
19    19  30.552632  198.131579
20    20  22.078947  135.552632
21    21  16.210526  106.289474
22    22  13.789474   77.078947
23    23   7.631579   47.421053